body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    color: #fff;
    background-color: darkslategray;
    margin: 8px 10px;
}

#text {
    height: 35px;
    border-right: 1px solid #fff;
}